<!DOCTYPE html>
<html>

<head>
  <title>Dream</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>

<body>
  <section>
    {% if session['user_id'] %}
    <nav>
      <ul>
        <li><a href="{{url_for('user.user_get', user_id=session['user_id'])}}">Console</a> </li>
        <li><a href="{{url_for('auth.logout_get')}}">Logout</a> </li>
      </ul>
    </nav>
    {% endif %}
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <br>
  </section>
</body>

</html>
