{% from 'macros.html' import centered %}
{% extends "layout.html" %}
{% block content %}

{% call centered() %}
{{ error_message }}
<div class="max-w-7xl m-auto">
<header><h3 class="text-lg text-center mb-3">Use your email to signin.</h3></header>
<form class="flex" method="POST" action="magic">
    <div class="m-auto flex">
      <input class="p-4 border-slate-900 border" name="email" type="email" placeholder="you@email.com" required />
      <button class="p-4 bg-slate-900 text-white rounded-r-md">Sign in</button>
    </div>
</form>
</div>
{% endcall %}
{% endblock %}
