name: Fly Deploy
on:
  push:
    branches:
      - main
env:
  FLY_API_TOKEN: ${{ secrets.FLY_ACCESS_TOKEN }}
jobs:
  deploy:
      name: Deploy app
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v2
        - uses: superfly/flyctl-actions@1.1
          with:
            args: "deploy"
